/Dates/.idea/.gitignore
/double_to_int/.idea/.gitignore
/KVUR_Vieta/.idea/.gitignore
/Lesson/.idea/.gitignore
/okruglenie_double/.idea/.gitignore
/RazdelenieStroki/.idea/.gitignore
/RefDemo/.idea/.gitignore
/Shildt JAVA/.idea/.gitignore
/sokratit_drob/.idea/.gitignore
/untitled/.idea/.gitignore
/untitled1/.idea/.gitignore
/Upragneniya/.idea/.gitignore
/Uprostit_kvadratniy_koren/.idea/.gitignore
/Shildt JAVA/out/production/Shildt JAVA/A.class
/Zadachi/out/production/Zadachi/com/cyberfuzz/io/AppendToFile.class
/Shildt/out/production/Shildt/com/proba/ArrayListDemo.class
/Shildt JAVA/out/production/Shildt JAVA/B.class
/Zadachi/out/production/Zadachi/com/cyberfuzz/Box.class
/BeatBox/.idea/checkstyle-idea.xml
/Dates/.idea/checkstyle-idea.xml
/Lesson/.idea/checkstyle-idea.xml
/untitled1/.idea/checkstyle-idea.xml
/Upragneniya/.idea/checkstyle-idea.xml
/Zadachi/out/production/Zadachi/com/cyberfuzz/io/CopyFile$1.class
/Zadachi/out/production/Zadachi/com/cyberfuzz/io/CopyFile.class
/Zadachi/out/production/Zadachi/com/cyberfuzz/io/DeleteLineFromFile.class
/Dates/.idea/description.html
/double_to_int/.idea/description.html
/KVUR_Vieta/.idea/description.html
/okruglenie_double/.idea/description.html
/RazdelenieStroki/.idea/description.html
/sokratit_drob/.idea/description.html
/Upragneniya/.idea/description.html
/Uprostit_kvadratniy_koren/.idea/description.html
/Zadachi/out/production/Zadachi/com/cyberfuzz/io/EditLinesInFile.class
/Zadachi/out/production/Zadachi/com/cyberfuzz/io/EditLinesInFile2.class
/Dates/.idea/encodings.xml
/double_to_int/.idea/encodings.xml
/KVUR_Vieta/.idea/encodings.xml
/okruglenie_double/.idea/encodings.xml
/RazdelenieStroki/.idea/encodings.xml
/sokratit_drob/.idea/encodings.xml
/Upragneniya/.idea/encodings.xml
/Uprostit_kvadratniy_koren/.idea/encodings.xml
/Upragneniya/out/production/Upragneniya/com/proba/Exchj1.class
/Zadachi/out/production/Zadachi/com/cyberfuzz/Factorial.class
/Lesson/out/production/Lesson/Figure.class
/Lesson/out/production/Lesson/FindAreas.class
/Zadachi/out/production/Zadachi/com/cyberfuzz/io/HelloWorldInFile.class
/untitled/.idea/kotlinc.xml
/untitled/.idea/libraries/KotlinJavaRuntime.xml
/Dates/out/production/Dates/com/proba/Main.class
/double_to_int/out/production/double_to_int/com/cyberfuzz/Main.class
/okruglenie_double/out/production/okruglenie_double/com/cyberfuzz/Main.class
/RazdelenieStroki/out/production/RazdelenieStroki/com/cyberfuzz/Main.class
/Shildt/out/production/Shildt/com/proba/Main.class
/sokratit_drob/out/production/sokratit_drob/com/cyberfuzz/Main.class
/Upragneniya/out/production/Upragneniya/com/proba/Main.class
/Uprostit_kvadratniy_koren/out/production/Uprostit_kvadratniy_koren/com/cyberfuzz/Main.class
/Dates/src/com/proba/Main.java
/double_to_int/src/com/cyberfuzz/Main.java
/KVUR_Vieta/src/com/cyberfuzz/Main.java
/okruglenie_double/src/com/cyberfuzz/Main.java
/RazdelenieStroki/src/com/cyberfuzz/Main.java
/Shildt/src/com/proba/Main.java
/sokratit_drob/src/com/cyberfuzz/Main.java
/Uprostit_kvadratniy_koren/src/com/cyberfuzz/Main.java
/Dates/.idea/misc.xml
/double_to_int/.idea/misc.xml
/KVUR_Vieta/.idea/misc.xml
/Lesson/.idea/misc.xml
/okruglenie_double/.idea/misc.xml
/RazdelenieStroki/.idea/misc.xml
/RefDemo/.idea/misc.xml
/Shildt JAVA/.idea/misc.xml
/sokratit_drob/.idea/misc.xml
/untitled/.idea/misc.xml
/untitled1/.idea/misc.xml
/Upragneniya/.idea/misc.xml
/Uprostit_kvadratniy_koren/.idea/misc.xml
/Dates/.idea/modules.xml
/double_to_int/.idea/modules.xml
/KVUR_Vieta/.idea/modules.xml
/Lesson/.idea/modules.xml
/okruglenie_double/.idea/modules.xml
/RazdelenieStroki/.idea/modules.xml
/RefDemo/.idea/modules.xml
/Shildt JAVA/.idea/modules.xml
/sokratit_drob/.idea/modules.xml
/untitled/.idea/modules.xml
/untitled1/.idea/modules.xml
/Upragneniya/.idea/modules.xml
/Uprostit_kvadratniy_koren/.idea/modules.xml
/Shildt/out/production/Shildt/com/proba/MyParamValue.class
/Shildt/out/production/Shildt/com/proba/MyValue.class
/Shildt/out/production/Shildt/com/proba/NumericFunc.class
/Shildt/out/production/Shildt/com/proba/NumericTest.class
/Dates/.idea/project-template.xml
/double_to_int/.idea/project-template.xml
/KVUR_Vieta/.idea/project-template.xml
/okruglenie_double/.idea/project-template.xml
/RazdelenieStroki/.idea/project-template.xml
/sokratit_drob/.idea/project-template.xml
/Upragneniya/.idea/project-template.xml
/Uprostit_kvadratniy_koren/.idea/project-template.xml
/Upragneniya/.idea/inspectionProfiles/Project_Default.xml
/Lesson/out/production/Lesson/Rectangle.class
/Zadachi/out/production/Zadachi/com/cyberfuzz/RecTest.class
/sokratit_drob/out/production/sokratit_drob/com/cyberfuzz/Reshenie.class
/sokratit_drob/src/com/cyberfuzz/Reshenie.java
/Upragneniya/out/production/Upragneniya/com/proba/RevertList.class
/Zadachi/out/production/Zadachi/com/cyberfuzz/io/ScanLinesInFile.class
/Zadachi/out/production/Zadachi/com/cyberfuzz/io/ScanSymbolsInLineInFile.class
/Zadachi/out/production/Zadachi/com/cyberfuzz/io/Serialization.class
/Shildt JAVA/out/production/Shildt JAVA/SimpleInheritance.class
/Shildt/out/production/Shildt/com/proba/StringFunc.class
/Shildt/out/production/Shildt/com/proba/StringTest.class
/Zadachi/out/production/Zadachi/com/cyberfuzz/Test.class
/Lesson/out/production/Lesson/Triangle.class
/Upragneniya/.idea/uiDesigner.xml
/Upragneniya/out/production/Upragneniya/com/proba/User1.class
/Upragneniya/out/production/Upragneniya/com/proba/Users.class
/BeatBox/.idea/vcs.xml
/Dates/.idea/vcs.xml
/double_to_int/.idea/vcs.xml
/KVUR_Vieta/.idea/vcs.xml
/Lesson/.idea/vcs.xml
/okruglenie_double/.idea/vcs.xml
/RazdelenieStroki/.idea/vcs.xml
/RefDemo/.idea/vcs.xml
/Shildt JAVA/.idea/vcs.xml
/sokratit_drob/.idea/vcs.xml
/untitled/.idea/vcs.xml
/untitled1/.idea/vcs.xml
/Upragneniya/.idea/vcs.xml
/Uprostit_kvadratniy_koren/.idea/vcs.xml
/Zadachi/out/production/Zadachi/com/cyberfuzz/io/WriteInFileFromKeyboard.class
